.ImageCover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.HomeImage {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
}

h1 {
  font-size: 20px;
}

.left,
.right {
  height: 100%;
  display: block;
  position: absolute;
}

.left {
  width: 45%;
  left: 0;
  background-color: white;
  overflow: hidden;
}

.right {
  width: 55%;
  right: 0;
  background-color: white;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .left,
.right {
    width: 100%;
    height: 50%;
    display: block;
  }

  .right {
    bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  .left,
.right {
    width: 100%;
    height: 50%;
    display: block;
  }

  .right {
    bottom: 0;
  }
}
@media (min-height: 240px) and (max-height: 420px) {
  .left,
.right {
    width: 50%;
    height: 100%;
    display: block;
  }

  .right {
    bottom: 0;
  }
}
.HeaderLogo {
  position: relative;
  top: 0.6px;
}

.LeftElementFooter,
.RightElementFooter,
.LeftElementHeader,
.RightElementHeader,
.LeftElementBody,
.RightElementBody {
  position: relative;
  background-color: white;
  height: 20%;
  z-index: 100001;
  display: block;
}

.LeftElementHeader,
.RightElementHeader {
  width: 100%;
  display: inline-block;
  height: 20%;
  padding: 3%;
}

.LeftElementBody,
.RightElementBody {
  border: 2px solid #b0b8bf;
  height: 100%;
  overflow: hidden;
}
.LeftElementBody .LeftElementContent,
.LeftElementBody .RightElementContent,
.RightElementBody .LeftElementContent,
.RightElementBody .RightElementContent {
  overflow: auto;
  position: absolute;
  width: 90%;
  height: 100%;
  display: block;
  z-index: 10003;
}
.LeftElementBody .RightElementTags,
.LeftElementBody .LeftElementTags,
.RightElementBody .RightElementTags,
.RightElementBody .LeftElementTags {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LeftElementBody {
  background-color: white;
}

.RightElementBody {
  background-color: white;
}

.RightElementTags {
  right: 0;
  width: 100%;
  background-color: red;
}

.LeftElementTags {
  width: 100%;
}

.LeftElementContent {
  right: 0;
  z-index: 10000001;
}

.RightElementContent {
  left: 0;
  overflow: auto;
  z-index: 10000001;
}

.TagContainer {
  width: 100%;
  height: 80%;
  color: grey;
  position: relative;
  display: flex;
}

.TagContainerHome {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.lineInContainer {
  height: 5px;
}

.LeftElementContentStyle {
  overflow-x: auto;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 80%;
}

.RightElementContentStyle {
  overflow: auto;
  position: absolute;
  width: 95%;
  height: 100%;
}

.menuButton {
  background-color: #ff9f00;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePageButton {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c9ee5;
}

.menuTag {
  position: relative;
  width: 15%;
  background-color: #b0b8bf;
}

.RmenuTag {
  width: 15%;
  height: 100%;
  z-index: 10000001;
  background-color: #b0b8bf;
  right: 0;
  position: absolute;
}

.menuContent {
  width: 85%;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.circular-chart.yellow .circle {
  stroke: #d1d10e;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/*# sourceMappingURL=App.css.map */
