$primary-color: green;
$left: yellow;
$right: #800000;

$outline: pink;
$body: lightblue;

.left,
.right {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: auto;
}
.left {
  left: 0;
  background-color: $left;
}
.right {
  right: 0;
  background-color: $right;
}

@media only screen and (max-width: 1024px) {
  .left,
  .right {
    width: 100%;
    height: 50%;
    display: block;
  }
  .right {
    bottom: 0;
  }
}

.LeftElementFooter,
.LeftElementHeader,
.LeftElementBody {
  position: relative;
  width: 100%;
  background-color: $outline;
  height: 20%;
  z-index: 10001;
  display: block;
}

.LeftElementHeader {
}
.LeftElementBody {
  height: 60%;
  background-color: $body;
  .LeftElementTags {
    width: 100px;
    height: 100%;
    background-color: grey;
  }
}
.LeftElementFooter {
}
