$primary-color: green;
$left: yellow;
$right: #800000;

.left,
.right {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: auto;
}
.left {
  left: 0;
  background-color: $left;
}
.right {
  right: 0;
  background-color: $right;
}

@media only screen and (max-width: 1024px) {
  .left,
  .right {
    width: 100%;
    height: 50%;
    display: block;
  }
  .right {
    bottom: 0;
  }
}

.LeftElement {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: pink;
  height: 40%;
  z-index: 10001;
}
