$primary-color: black;
$left: white;
$right: #800000;

.App-header {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  position: absolute;
}
.left,
.right {
  width: 50%;
  height: 100%;
  display: block;
}
.left {
  left: 0;
  background-color: $left;
}
.right {
  right: 0;
  background-color: $right;
}

@media only screen and (max-width: 1024px) {
  .left,
  .right {
    width: 100%;
    height: 50%;
  }
  .left {
    left: 0;
    background-color: $left;
  }
  .right {
    right: 0;
    background-color: $right;
  }
}
